.tmp-header
  グループを作成しました
.left-side
  .left-side__header
    .left-side__header__box
      .left-side__header__user-name
        test-user
      .left-side__header__icon
        = fa_icon 'edit'
        = fa_icon 'cog'
  .left-side__group-list
    .left-side__a-group
      .left-side__a-group__name
        テストグループ
      .left-side__a-group__latest-message
        テストメッセージ
    .left-side__a-group
      .left-side__a-group__name
        テストグループ
      .left-side__a-group__latest-message
        テストメッセージ
    .left-side__a-group
      .left-side__a-group__name
        テストグループ
      .left-side__a-group__latest-message
        テストメッセージ
    .left-side__a-group
      .left-side__a-group__name
        テストグループ
      .left-side__a-group__latest-message
        テストメッセージ
    .left-side__a-group
      .left-side__a-group__name
        テストグループ
      .left-side__a-group__latest-message
        テストメッセージ
.main-screen
  .main-header
    .button-edit
      Edit
    .main-header__group-name
      テストグループ
    .main-header__members
      Member : テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　テストメンバー　test-user
  .main-messages
    .a_message
      .a_message__sender
        test-user
      .a_message__date-time
        2019/08/12(Mon) 12:59:07
    .message
      こんにちは！
    .a_message
      .a_message__sender
        test-user
      .a_message__date-time
        2019/08/12(Mon) 12:59:07
    .message
      こんにちは！
    .a_message
      .a_message__sender
        test-user
      .a_message__date-time
        2019/08/12(Mon) 12:59:07
    .message
      こんにちは！
    .a_message
      .a_message__sender
        test-user
      .a_message__date-time
        2019/08/12(Mon) 12:59:07
    .message
      こんにちは！
    .a_message
      .a_message__sender
        test-user
      .a_message__date-time
        2019/08/12(Mon) 12:59:07
    .message
      こんにちは！
  .bottom-box
    .style-box
      .input-field
        %input{placeholder: "type a message", type: "text" , class: "input-field__text"}
        %label.attach-image
          = fa_icon 'image'
      .button-send
        Send